.items-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 95vh;
    box-sizing: border-box;
    background-color:    #aab7b8   ;
    
}
.left-column{
    flex: 0.7;
    border: 1px solid  #283747;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: black;
}
.right-column{

    flex: 0.3;
    border: 1px solid  #283747;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
     color: black;
}